.footer {
  background-color: var(--background-color); // Usando a mesma cor de fundo que o header
  padding: 20px 0;
  position: relative;
  z-index: 1020; // Para garantir que o footer fique acima de outros elementos se necessário

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .footer-text {
    color: var(--paragraph); // Usando a mesma cor de texto que o header
    font-family: Poppins; // Usando a mesma fonte que o header
    font-weight: 400;
    font-size: 13px; // Ajustado para corresponder ao tamanho da fonte no header
    text-align: center;
    margin-top: 15px;
  }

  .contact-form {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    h1 {
      font-size: 1.5rem; // Ajuste o tamanho da fonte conforme necessário
      margin-bottom: 15px;
    }

    form {
      .form-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;

        .col {
          flex: 1;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .form-control {
        border-radius: 4px; // Padronizando com o botão do header
      }

      .btn-dark {
        background-color: #8247E5; // Cor do botão correspondente à do header
        border: none;
        border-radius: 4px;
      }
    }
  }

  .footer-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .footer-social-icon {
      margin-left: 15px;

      img {
        width: 32px;
        height: 32px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    margin-top: 38px; // Ajuste para corresponder ao espaçamento do header
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form h1 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-social {
  display: flex;
  margin-right: 1rem; // Ajuste conforme necessário
}

.footer-social-icon {
  margin-right: 0.5rem; // Ajuste o espaçamento entre os ícones
}

.footer-social-icon img {
  width: 24px; // Ajuste o tamanho dos ícones conforme necessário
  height: 24px;
}

.social-icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 768px) {
  .contact-form {
    padding: 3rem;
  }
}
